body {
  /* background-color: #ff5a5a;
  height: 100%; */
  font-family: "tradegothiclt-bold", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  /* font-size: 5em; */
  /* color: white; */
  text-transform: uppercase;
  position: relative;
  left: 88px;
  top: 150px;
}

span {
  border-right: 0.55em solid;
  /* width: 20px; */
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#tomei {
  animation: spin 3.5s ease-out 1;
  transform-origin: center;
}

#eye {
  animation: light 2.9s ease-out 1;
}

@keyframes spin {
  0% {
    transform: rotate(360);
  }
  50%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes light {
  90% {
    fill: #ff0000;
  }
  100% {
    fill: #a50000;
  }
}
